<h1>Encuentre su heroe</h1>
<div>
  <!-- search -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Buscar heroe...</mat-label>
    <input
      type="text"
      placeholder="Elíge heroe"
      aria-label="Number"
      matInput
      [matAutocomplete]="auto"
      [(ngModel)]="txtHeroe"
      (input)="getHeroes()"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="getSuggestions($event)"
    >
      <ng-container *ngIf="!sinHeroe; else elseTemplate">
        <mat-option *ngFor="let heroe of lsHeroes" [value]="heroe">
          {{ heroe.superhero }}
        </mat-option>
      </ng-container>
      <ng-template #elseTemplate>
        <mat-option> No existe el heroe</mat-option>
      </ng-template>
    </mat-autocomplete>
  </mat-form-field>
</div>
<!-- wrap of alert or heroe -->
<ng-container *ngIf="!alert; else generateAlert">
  <!-- Heroe -->
  <div *ngIf="heroeSelected">
    <mat-grid-list cols="2" rowHeight="2:2">
      <!-- heroe image -->
      <mat-grid-tile>
        <img [src]="heroeSelected | image" alt="" />
      </mat-grid-tile>
      <!-- heroe data -->
      <mat-grid-tile>
        <app-heroe-content-card
          [heroe]="heroeSelected"
        ></app-heroe-content-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-container>
<!-- alert -->
<ng-template #generateAlert>
  <div class="alert-warning">Heroe no existe!</div>
</ng-template>
