<h3>This component is error-page.Component!</h3>

<ul>
  <li>
    <a [routerLink]="['/auth/login']">login</a>
  </li>
  <li>
    <a [routerLink]="['/auth/registro']">resgistro</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/listado']">listado</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/agregar']">agregar</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/editar/id']">editar</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/buscar']">buscar</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/id']">id</a>
  </li>
</ul>
