<mat-card class="card">
  <!-- FRONT -->
  <div class="face front">
    <img mat-card-image [src]="heroe | image" alt="Photo of heroe" />
  </div>

  <!-- BACK -->
  <div class="face back">
    <!-- Datos -->
    <app-heroe-content-card [heroe]="heroe"></app-heroe-content-card>
  </div>
</mat-card>
<!-- botones -->
<mat-card-actions class="wrap-btn">
  <button mat-button color="warn" class="btn-color-read">
    <a [routerLink]="heroe.id | linkLeerMas" routerLinkActive="heroe.id"
      >Leer mas...</a
    >
  </button>
  <button mat-button class="btn-color-edit">
    <a id="btn-editar" [routerLink]="heroe.id | linkEditar">Editar</a>
  </button>
  <button (click)="deleteHeroe()" mat-raised-button color="warn">Eliminar</button>
</mat-card-actions>
