<mat-grid-list *ngIf="!heroe; else elseTemplate" cols="1" rowHeight="2:1">
  <mat-grid-tile><mat-spinner></mat-spinner></mat-grid-tile>
</mat-grid-list>

<ng-template #elseTemplate>
  <mat-grid-list cols="2" rowHeight="1:1">
    <!-- Grid image of the heroe -->
    <mat-grid-tile>
      <img id="img-heroe" [src]="heroe | image" alt="Photo of heroe" />
    </mat-grid-tile>
    <!-- Grid data of the heroe-->
    <mat-grid-tile>
      <app-heroe-content-card class="card-content" [heroe]="heroe">
      </app-heroe-content-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
