.title-li {
  color: red;
  font-size: 16px;
}

.wrap-btn {
  display: block !important;
  margin: 0px auto;
}

.mat-card-actions {
  margin-left: 25px !important;
}

.name-character {
  color: red;
}

.btn-color-read {
  background-color: black;
}

.btn-color-edit {
  color: rgb(231 193 100);
}

.spacing {
  margin-top: 100px;
}

.margin-t-b {
  margin-top: 10px;
  margin-bottom: 10px;
}
