<mat-card-content>
  <mat-card-title class="name-character">
    {{ heroe.superhero }}
  </mat-card-title>
  <mat-card-subtitle>
    {{ heroe.id }}
  </mat-card-subtitle>
  <ul>
    <li><span class="title-li">Personajes:</span> {{ heroe.characters }}</li>
    <li>
      <span class="title-li">Primer aparicion:</span>
      {{ heroe.first_appearance }}
    </li>
    <li><span class="title-li">Nombre pj:</span> {{ heroe.alter_ego }}</li>
  </ul>
  <span class="title-li">Historia:</span>

  <mat-card-content>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt illum
    facilis deleniti molestias commodi, perspiciatis ex voluptatem consectetur
    voluptatum est quos inventore. Eius dolore suscipit ex distinctio error
    dignissimos accusamus?
  </mat-card-content>
  <mat-divider class="margin-t-b"></mat-divider>
</mat-card-content>
